<footer>
    <div class="footer-links">
        <a href="https://www.prokerala.com/privacy.htm">Privacy</a>
        <a href="https://www.prokerala.com/terms.htm">TOS</a>
        <a href="https://www.prokerala.com/disclaimer.htm">Disclaimer</a>
        <a href="https://www.prokerala.com/cookie.htm">Cookies</a>
        <a href="https://www.prokerala.com/contact.php">Contact</a>
    </div>
    <br>
    <div class="company-info" style="color: yellowgreen;">
        Ennexa Technologies Pvt Ltd.<br>
        XI/476, Manganam, Kottayam,<br>
        Kerala, India<br>
        Call us: 1800 425 0053<br>
        Mon to Fri - 10 AM to 5 PM
    </div>
    <p style="color: azure;">&copy; 2005-24 Ennexa Technologies Pvt. Ltd.</p>
    <br>
    <a class="roop" href="https://www.linkedin.com/in/sainivedhai/"><h3 style="color: aquamarine;margin-left: auto; text-align: right;">Developed by Sai Nivedh</h3></a>
</footer>
